.header {
    min-height: 15vh;
    background-size: cover;
    background-position: 50% 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: white;
}

.faqsImage {
    background-image: url('../../resources/faqs.jpg');
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
