.topNav {
    .logoText {
        margin-right: 2;
        letter-spacing: .3rem;
        text-decoration: none;
        color: white;
    }
    .links {
        color: white;
        text-decoration: none; 
        text-align: center;
        text-transform: capitalize;
        &:hover {
            
        }
    }
}